<div class="header">
    <a href="index.html">
      <img class="logo" src="../../assets/logo.png" />
    </a>
  </div>
  <input type="checkbox" class="openSidebarMenu" id="openSidebarMenu" />
  <label for="openSidebarMenu" class="sidebarIconToggle">
    <div class="spinner diagonal part-1"></div>
    <div class="spinner horizontal"></div>
    <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
    <ul class="sidebarMenuInner">
      <li><a href="#" target="_blank">Action</a></li>
      <li><a href="#" target="_blank">Adventure</a></li>
      <li><a href="#" target="_blank">Animation</a></li>
      <li><a href="#" target="_blank">Comedy</a></li>
      <li><a href="#" target="_blank">Crime</a></li>
      <li><a href="#" target="_blank">Documentary</a></li>
      <li><a href="#" target="_blank">Drama</a></li>
    </ul>
  </div>